* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 201, 113);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

.accordion {
  max-width: 800px;
  width: 80%;
  background-color: rgb(255, 254, 253);
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.accord-item {
  padding: 14px;
  margin: 20px 0;
  border: 2px solid rgb(223, 219, 219);
  cursor: pointer;
}

.accord-title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.accord-info {
  margin-top: 10px;
  color: grey;
}
